{% extends "index.html" %}

{% block title %}
    {{post.title}}
{% endblock title %}

{%block content %}

<h1>{{post.title}}</h1>
<small>By: {{post.author}} {{post.author.last_name}}</small>

{%if user.is_authenticated%}
    {% if user.id == post.author.id%}
        <small><a href="{%url 'update_post' post.pk%}">Editar</a> </small>
        <small><a href="{%url 'delete_post' post.pk%}">Deletar</a></small>
    {% endif %}
{% endif %}
<br/>
<hr>
<br/>
{{post.body | safe}}

<br/><br/><br/>
<h5>Comentarios</h5>

{%if not post.comments.all%}
    Sem comentarios ainda...<a href="{%url 'add_comment' post.pk%}">Adicionar comentario</a>
{% else %}
    <a href="{%url 'add_comment' post.pk%}">Adicionar comentario</a>
    <br/>
    {%for comment in post.comments.all%}
        <br/>
        <strong>{{comment.name}}</strong>
        <br/>
        {{comment.body}}
        <br/>
    {% endfor %}


{% endif %}
<br/><br/>
<a href="{%url 'home' %}"><button type="button" class="btn btn-secondary">Voltar</button></a>
{% endblock %}